---
import SocialList from "@/components/SocialList";
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import aboutImg from "~/assets/happy-aaron.png";

const meta = {
  title: "About",
  description: "Aaron bruce is a manager, architect and coder",
};
---

<PageLayout meta={meta}>
  <div class="space-y-6">
    <h1 class="title">About</h1>
    <p>
      My name's Aaron, and I'm the Director of Engineering at <a
        href="https://synapsestudios.com/"
        class="cactus-link">Synapse Studios</a
      >. I've got {new Date().getFullYear() - 2008} years of experience, most of
      which was as a practitioner. In my day job I'm a manager, architect and
      coder, but usually not all at the same time.
    </p>
    <div class="flex justify-center">
      <Image
        src={aboutImg}
        alt="A cartoon cactus looking at the 'Astro.build' logo"
        loading="eager"
        fetchpriority="high"
      />
    </div>
    <SocialList />
  </div>
</PageLayout>
