---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts)
  .filter((p) => p.data.published !== false)
  .slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
  <section>
    <h1 class="title mb-6">HI</h1>
    <p>
      "Thinking Out Loud" is a public space for me to share my half-baked ideas,
      and to report on interesting things I'm learning or that I want to teach.
    </p>
    <p class="pt-3">
      I'd like to write more, and so on a whim (inspired by <a
        href="https://tidyfirst.substack.com/p/publish-everything-pretty-much"
        class="cactus-link">Kent Beck</a
      >) I've set this blog up. My main goal is to write, publish, and share.
      This blog is about <strong>volume</strong>.
    </p>
    <SocialList />
  </section>
  <section aria-label="Blog post list" class="mt-16">
    <h2 class="title mb-4 text-xl">Posts</h2>
    <ul class="space-y-4 sm:space-y-2">
      {
        allPostsByDate.map((p) => (
          <li class="flex flex-col gap-x-2 sm:flex-row">
            <PostPreview post={p} />
          </li>
        ))
      }
    </ul>
  </section>
</PageLayout>
